body {
    background-color: #d3d3d3;
    margin-left: 400px;
    margin-right: 400px;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

h4 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

p {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	font-size: 12px;
}

h5 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 10px;
}

img {
	border-radius: 50px;
	float: right;
	position: relative;
	right: 210px;
	top: -10px;
}	
