body {
    background-color: #d3d3d3;
    margin-left: 300px;
    margin-right: 300px;
}

h2 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

h4 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

p {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	font-size: 12px;
}

h5 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 10px;
}

img {
	border-radius: 50px;
	display: block;
	margin: auto;
}		
